<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <title>Simple form</title>
  <style>
    body {
      font-family: Arial, sans-serif;
      background: #f8f9fa;
      color: #333;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      height: 100vh;
      margin: 0;
    }
    h2 {
      color: #189a9a;
    }
    form {
      background: #fff;
      padding: 20px 25px;
      border-radius: 12px;
      box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
      width: 300px;
    }
    label {
      display: block;
      margin-top: 10px;
      font-weight: bold;
    }
    input {
      width: 100%;
      padding: 8px;
      margin-top: 4px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }
    button {
      width: 100%;
      padding: 10px;
      margin-top: 15px;
      background-color: #189a9a;
      color: white;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      font-size: 15px;
    }
    button:hover {
      background-color: #189a9a;
    }
  </style>
</head>
<body>
    <h2>Simple Form</h2>
  <form action="/submit" method="POST">
    <label for="name">Full Name:</label>
    <input type="text" id="name" name="name" required />

    <label for="email">Email Address:</label>
    <input type="email" id="email" name="email" required />

    <label for="number">Phone number</label>
    <input type="" id="number" name="number" required />
    
    <label for="gender">Gender</label>
    <input type="text" id="gender" name="gender" required />
    
    <label for="dob">Date of Birth</label>
    <input type="date" id="dob" name="dob" required/>
    <button type="submit">Submit</button>
  </form>
</body>
</html>